section.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  .project-card {
    background-color: var(--palette-background);
    border: 4px outset;
    border-image: linear-gradient(var(--palette-pink), var(--palette-cyan)) 15;
    margin-block: 2rem;
    width: min(95%, 1000px);
    padding: 0;

    .project-card-inner {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0.75rem;
      text-decoration: none;
      color: inherit;
      margin: 0;

      h2 {
        margin-top: 1rem;
      }

      img {
        max-width: min(100%, 550px);
      }
    }
  }
}

@media (max-width: 1150px) {
  section.projects {
    .project-card {
      .project-card-inner {
        flex-direction: column-reverse;
      }
    }
  }
}
